:root {
  --primary: #000;
}

.btn {
  padding: 6px 18px;
  border-radius: 2px;
  outline: none;
  border: none;
  cursor: pointer;
}

.btn--primary {
  background-color: var(--primary);
  background: #fff;
  border: 1px solid var(--primary);
}

.btn--outline {
  background-color:#FFA500;
  color:#fff;
  padding: 8px 20px;
  border: 1px solid var(--primary);
}

.btn--medium {
  padding: 8px 20px;
  font-size: 18px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}
.btn--large:hover,
.btn--medium:hover {
  color: rgb(230, 26, 26);
}
